name: Publish

on:
  pull_request:
    types: [closed]
    branches:
      - staging
      - main

jobs:
  publish:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [ 14.x ]

    steps:
    - name: "Checkout from Github repo"
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: "Set Up NodeJS ${{ matrix.node-version }}"
      uses: actions/setup-node@v2
      with:
          node-version: ${{ matrix.node-version }}

    - name: Bootstrap lerna
        run: yarn bootstrap

    - name: "Version and publish"
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        git config user.name "${{ github.actor }}"
        git config user.email "${{ github.actor}}@users.noreply.github.com"

        git stash
        git checkout ${{ github.ref }}

        if [ ${{ github.base_ref }} = staging ]; then
          npx lerna version --conventional-commits --conventional-prerelease --preid beta --yes
        else
          npx lerna version --conventional-commits --conventional-graduate --yes
        fi



        npx lerna publish from-git --yes